<form name="contact" method="POST" data-netlify="true">
  <label
    >Email:
    <input type="email" name="email" required />
  </label>
  <input type="hidden" name="mailing_list_id" value="fbbe4b78-46d9-4e9b-b3cf-e40a56fbab3f" />
  <button type="submit">Subscribe</button>
</form>
