---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/icons.css";
import ContactForm from '../components/form/ContactForm'
import NetlifyForm from '../components/form/NetlifyForm.astro'
---

<BaseLayout title="Audacity ® | post-download">
  <main id="main" class="max-w-screen-xl mx-auto">
    <div class="grid grid-cols-12 py-12 gap-y-12">
      <div class="col-start-2 col-span-10 sm:text-center">
        <h1>Thank you for downloading Audacity!</h1>
      </div>

      <div class="mt-12 mb-4 col-start-4 col-span-6 text-center">
        <h3>Never miss a beat, sign-up to our mailing list</h3>
       <ContactForm client:load/>
       <hr/>
       <NetlifyForm />
      </div>
    </div>
  </main>
</BaseLayout>
